/* Activity */

.activity-list .item a.author {
	color: $cssBaseColor !important;
}
.activity-list .item a.author:hover {
	color: darken($cssBaseColor, 20%) !important;
}

/* Photos */

.photo_filter{
	background:lighten($cssUIColor, 10%) !important;
}

/* Users */

#user_profile_title .avatar,
#user_profile_title .avatar img{
	border:none !important;
	border-radius:50%;
}

#user_profile_title .avatar{
	padding:5px;
}

#user_status_widget {
	background:lighten($cssUIColor,5%) !important;
}

#user_status_widget .input {
	border:none;
}
#user_status_widget .input::placeholder {
	color:darken($cssUIColor, 10%) !important;
}
#user_profile{
	margin-top:30px;
}
#user_profile #left_column .block {
	border:none !important;
	padding:0 0 30px 0 !important;
	margin-right: 30px !important;
}
#user_profile .block .content_counts{
	margin:0 !important;
}
#user_profile .block .content_counts li{
	border-bottom-color:$cssUIColor !important;
}
#user_profile .block .content_counts a{
	color:darken($cssUIColor, 30%) !important;
}
#user_profile .block .content_counts a:hover{
	color:darken($cssUIColor, 40%) !important;
	background:lighten($cssUIColor, 5%) !important;
}

#user_profile #information .fieldset .field .title{
	color:$cssBaseColor !important;
}

#user_profile #avatar img {
  display:block;
  border-radius:5px
}

#user_profile #information .fieldset_title h3{
	color:darken($cssUIColor, 15%) !important;
}

#user_profile #information .fieldset_title{
	border-top-color:$cssUIColor !important; 
}

#user_profile .block .details, #user_profile .block .details li{
	color:darken($cssUIColor, 10%) !important;
}

#user_profile .block .details strong, #user_profile .block .block-title{
	color:darken($cssUIColor, 20%) !important;
}

#user_profile_title .name a{
	color:$cssBaseColor !important;
}

#user_profile .friends-list a span img {
	display:block;
	border-radius:50%;
}

#user_profile .block .block-title{
	margin-bottom:15px !important; 
}

/* Wall */

#wall_widget #entries_list .entry .body .avatar img{
	border-radius: 50%;	
}

#wall_widget #entries_list .entry .body .avatar{
	border:none !important;
}

#wall_widget #entries_list .entry .content{
	background:none !important;
}
#wall_widget #entries_list .entry .links a{
	color:darken($cssUIColor, 30%) !important;
	border-bottom: dashed 1px darken($cssUIColor, 30%) !important;
}
#wall_widget #entries_list .entry .links a:hover{
	color:darken($cssUIColor, 60%) !important;
	border-bottom: dashed 1px darken($cssUIColor, 60%) !important;
}
#wall_widget #entries_list .entry .links a.get_replies {
    font-weight: bold;
    color: darken($cssUIColor, 40%) !important;
    border-bottom: dashed 1px darken($cssUIColor, 40%) !important;
}
#wall_widget #entries_list .entry .info .name .user{
	color: $cssBaseColor !important;
}
#wall_widget #entries_list .entry .info .name .user:hover{
	color: darken($cssBaseColor, 20%) !important;
}
