#cp-widgets-layout .it-widgets-layout-selector{
	margin-bottom:20px;
	border:none;
	border-collapse:collapse;
}

#cp-widgets-layout .it-widgets-layout-selector tr,
#cp-widgets-layout .it-widgets-layout-selector td {
	border:none; 
	text-align:right;
	padding:0;
	height:auto;
	line-height:6px;
}

#cp-widgets-layout .it-widgets-layout-selector .field {
	width:270px;  
}

#cp-widgets-layout .it-widgets-layout-selector #inthemer-layout-select{
	width:150px;
}

#cp-widgets-layout .it-widgets-layout-selector .header .cell {
  color:#999;
}

#cp-widgets-layout .it-widgets-layout-selector .actions {
  overflow:hidden;
  display:inline;
  position:relative;  
}
#cp-widgets-layout .it-widgets-layout-selector .actions a {
  display:inline-block;
  float:right;
  height:27px;
  width:27px;
  background:url(../../images/icons/builder.png) no-repeat center;
}

#cp-widgets-layout .it-widgets-layout-selector .actions a.edit {
  background-image:url(../../images/icons/edit.png);
}

#cp-widgets-layout .it-widgets-layout-selector .actions a.copy {
  background-image:url(../../images/icons/copy.png);
}

#cp-widgets-layout .it-widgets-layout-selector .actions a.add {
  background-image:url(../../images/icons/add.png);
}

#cp-widgets-layout td > table {
	margin:0px;
	border-collapse:collapse;
}

#cp-widgets-layout td > table + table  {
	margin-top:-1px;
}

#cp-widgets-layout .inthemer-error{
	margin-bottom:10px;
	background:#fff1f0;
	padding:30px; 
	line-height:24px;
	text-align:center;
	color:#c0392b;
}

#cp-widgets-layout .it-widgets-layout-none {
	border:none;
	border-collapse: collapse;
}

#cp-widgets-layout .it-widgets-layout-none td{
	background:#fff1f0;
	padding:30px; 
	line-height:24px;
	text-align:center;
	color:#c0392b;		
	border:none;
}
