<?php

	$cfg = cmsConfig::getInstance();

	$template = cmsTemplate::getInstance();
	$template->addCSS('templates/inthemer/builder/css/widgets.css');
	$template->addJS('templates/inthemer/builder/js/widgets.js');
	cmsCore::loadControllerLanguage('inthemer');

	$model = cmsCore::getModel('inthemer');
	$layouts = $model->getLayouts();

?>
<?php if (!$layouts) { ?>
<table class="it-widgets-layout-none">
	<tr>
		<td>
			{cell:LANG_INTHEMER_WIDGETS_NO_LAYOUTS}
		</td>
	</tr>
</table>
<?php return; } ?>
<?php
	$ids = array_keys($layouts);
	$selected_layout_name = $layouts[$ids[0]]['name'];
	$selected_layout = $layouts[$ids[0]];

	if (!empty($_GET['layout'])) {
		$candidate_name = $_GET['layout'];
	} elseif (cmsUser::hasCookie('_inthemer_widgets_layout')) {
		$candidate_name = cmsUser::getCookie('_inthemer_widgets_layout');
	}

	if (!empty($candidate_name)){
		foreach($layouts as $l){
			if ($l['name'] === $candidate_name){
				$selected_layout_name = $candidate_name;
				$selected_layout = $l;
			}
		}
	}

	$file = $cfg->root_path . '/cache/static/inthemer/widgets/scheme-' . $selected_layout_name . '.html';

	cmsUser::setCookie('_inthemer_widgets_layout', $selected_layout_name, 3600*24*30);

?>
<table class="it-widgets-layout-selector">
	<tr class="header">
		<td class="text">{cell:LANG_INTHEMER_WIDGETS_SCHEME_SELECT}</td>
		<td class="field">
			<select id="inthemer-layout-select">
				<?php foreach($layouts as $l){ ?>
					<option value="<?php echo $l['name']; ?>"<?php if ($l['name'] == $selected_layout_name) { ?> selected="selected"<?php } ?>><?php echo $l['title']; ?></option>
				<?php } ?>
			</select>
			<div class="actions">
				<a class="add" href="<?php echo href_to('admin/controllers/edit/inthemer/add_layout'); ?>" data-href="<?php echo href_to('admin/controllers/edit/inthemer/add_layout'); ?>" title="<?php echo LANG_INTHEMER_ADD_LAYOUT; ?>"></a>
				<a class="copy" href="<?php echo href_to('admin/controllers/edit/inthemer/copy_layout/' . $selected_layout['id']); ?>" title="<?php echo LANG_INTHEMER_COPY_LAYOUT; ?>"></a>
				<a class="edit" href="<?php echo href_to('admin/controllers/edit/inthemer/edit_layout/' . $selected_layout['id']); ?>" title="<?php echo LANG_INTHEMER_EDIT_LAYOUT; ?>"></a>
				<a class="build" href="<?php echo href_to('inthemer/builder/' . $selected_layout['id']); ?>" title="<?php echo LANG_INTHEMER_OPEN_IN_BUILDER; ?>"></a>
			</div>
		</td>
	</tr>
</table>

<div class="layout-scheme layout-<?php echo $l['name']; ?>">
	<?php if (file_exists($file) && is_readable($file)) { ?>
		<?php echo file_get_contents($file); ?>
	<?php } else { ?>
		<div class="inthemer-error">
			<?php printf(LANG_INTHEMER_WIDGETS_SCHEME_NONE, $selected_layout['title']); ?>
		</div>
	<?php } ?>
</div>
